main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
}

article {
    background-color: #79AC78;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.vehiculos {
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 800px;
}

.listaVehiculo {
    width: 100%;
}

.datosVehiculo {
    max-width: 50%;
    overflow: hidden;
}

.crearVehiculo {
    width: 100%;
}

.crearVehiculo > div {
    display: none;
}

.vehiculo {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 25px;
    align-items: center;
    min-height: 50px;
    margin: 5px;
    background-color: #618264;
    width: 90%;
    justify-content: space-between;
}

#vehiculoPreview {
    display: flex;
    justify-content: center;
}

.datosUsu {
    display: flex;
    flex-direction: column;
}

.datosUsu > h2 {
    text-align: center;
    margin-bottom: 10%;
}

.editable {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.editable > div{
    width: 33%;
    overflow: hidden;
    height: 33%;
}

#UsuPreview {
    display: flex;
    justify-content: center;
}

.historialEventos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.historial {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 600px;
}

.evento{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 25px;
    align-items: center;
    min-height: 50px;
    cursor: pointer;
    margin: 5px;
}

.imgEventoPequeno,
.imgVehiculoPequeno {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 5px;
}

.detrasContenido {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    margin: 0;
    padding: 0;
}

#detrasSalirSinGuardar {
    visibility: hidden;
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
}

#salirSinGuardar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #79AC78;
    border-radius: 20px;
    z-index: 20;
    padding: 10px;
    text-align: center;
}

#salirSinGuardar h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

#salirSinGuardar div {
    display: flex;
    justify-content: space-between;
}

#salirSinGuardar div * {
    flex: 1;
}

.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #D0E7D2;
    padding: 20px;
}

.tituloContenido {
    display: flex;
    justify-content: space-between;
}

.contenidoCrearEvento {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.xIcon {
    color: red;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}