main {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: 1fr 1fr;
}

.detrasContenido {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

#detrasSalirSinGuardar {
    visibility: hidden;
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
}

#salirSinGuardar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #79AC78;
    border-radius: 20px;
    z-index: 20;
    padding: 10px;
    text-align: center;
}

#salirSinGuardar h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

#salirSinGuardar div {
    display: flex;
    justify-content: space-between;
}

#salirSinGuardar div * {
    flex: 1;
}

.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #D0E7D2;
    padding: 20px;
}

.tituloContenido {
    display: flex;
    justify-content: space-between;
}

.contenidoCrearEvento {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.xIcon {
    color: red;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.tusEventos {
    background-color: #79AC78;
    grid-row: 1 / 3;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    max-height: 760px;
}

.crearEvento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crearEvento p {
    cursor: pointer;
}

.tusEventos section {
    width: 100%;
    margin-top: 10px;
}

.evento {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 25px;
    align-items: center;
    min-height: 50px;
    cursor: pointer;
}

.contenidoEvento {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 3fr 3fr;
}

.contenidoEvento section {
    background-color: #79AC78;
    margin: 5px;
}

.eventoInfoGeneral {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
}

.eventoInfoGeneral img {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.eventoInfoGeneral div >div {
    margin: 10px;
}

.eventoInfoGeneral div div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.eventoVehiculos {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.eventoChat {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.eventoLinks {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.eventoListaUsu {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.EventoXIcon {
    position: absolute;
    right: 30px;
}

.imgEventoPequeno,
.imgAmigoPequeno {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 5px;
}

.chats {
    background-color: #79AC78;
    grid-row: 1 / 3;
    margin: 10px;
    padding: 10px;
}

.amigos {
    width: 25%;
    overflow-y: auto;
    height: 760px;
    border-right: 3px solid #D0E7D2;
}

.listaAmigos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.amigo {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    min-height: 50px;
    margin: 2px;
    background-color: #618264;
    border-radius: 25px;
}

#hashAmigo {
    width: 80%;
}

.eventosPublicos {
    background-color: #79AC78;
    margin: 10px;
}

.foros {
    background-color: #79AC78;
    margin: 10px;
}