main {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: 1fr 1fr;
}

.detrasContenido {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

#detrasSalirSinGuardar {
    visibility: hidden;
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
}

#salirSinGuardar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #79AC78;
    border-radius: 20px;
    z-index: 20;
    padding: 10px;
    text-align: center;
}

#salirSinGuardar h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

#salirSinGuardar div {
    display: flex;
    justify-content: space-between;
}

#salirSinGuardar div * {
    flex: 1;
}

.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #D0E7D2;
    padding: 20px;
}

.tituloContenido {
    display: flex;
    justify-content: space-between;
}

.contenidoCrearEvento {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.xIcon {
    color: red;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.tusEventos {
    background-color: #79AC78;
    grid-row: 1 / 3;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    max-height: 775px;
}

.crearEvento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crearEvento p {
    cursor: pointer;
}

.tusEventos section {
    width: 100%;
    margin-top: 10px;
}

.evento,
.eventoPublico {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 25px;
    align-items: center;
    min-height: 50px;
    cursor: pointer;
}

.contenidoEvento {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 3fr 3fr;
}

.contenidoEvento section {
    background-color: #79AC78;
    margin: 5px;
}

.eventoInfoGeneral {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
}

.eventoInfoGeneral img {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.eventoInfoGeneral div>div {
    margin: 10px;
}

.eventoInfoGeneral div div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.eventoVehiculos {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    overflow: auto;
    max-height: 460px;
}

.listaVehiculos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vehiculo {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 25px;
    align-items: center;
    min-height: 50px;
    margin: 5px;
    background-color: #618264;
    width: 90%;
}

.vehiculo>div {
    width: 100%;
    text-align: center;
}

.eventoChat {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    height: 460px;
}

.mainEventoChat {
    height: 85%;
    max-height: 85%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.footerEventoChat {
    height: 15%;
    display: flex;
    align-items: center;
}

.susMensajesEvento {
    display: flex;
    margin: 5px;
}

.footerEventoChat>input {
    width: 80%;
}

.footerEventoChat>p {
    width: 20%;
}

.eventoLinks {
    overflow: auto;
    padding: 5px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.eventoListaUsu {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    min-height: 225px;
    max-height: 225px;
    overflow: auto;
}

.usuario {
    display: flex;
    align-items: center;
    margin: 5px;
}

.EventoXIcon {
    position: absolute;
    right: 45px;
    display: flex;
}

.imgEventoPequeno,
.imgAmigoPequeno,
.imgVehiculoPequeno,
.imgUsuario {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 5px;
}

.chats {
    background-color: #79AC78;
    grid-row: 1 / 3;
    margin: 10px;
    padding: 10px;
    display: flex;
}


.amigos {
    width: 25%;
    overflow-y: auto;
    height: 760px;
    border-right: 3px solid #D0E7D2;
}

#hashAmigo {
    width: 80%;
}

.amigo {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    min-height: 50px;
    margin: 2px;
    background-color: #618264;
    border-radius: 25px;
    cursor: pointer;
}


.listaAmigos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.texto {
    width: 75%;
}

.headerTexto {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.headerTexto>div {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.leyenda {
    font-size: small;
}

.mainTexto {
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.mensaje {
    width: fit-content;
    padding: 5px;
    margin-top: 3px;
    border-radius: 25px;
}

.misMensajes {
    background-color: #B0D9B1;
    border: 1px solid #618264;
    align-self: flex-end;
}

.susMensajes {
    background-color: #618264;
    align-self: flex-start;
}

.footerTexto {
    display: none;
    height: 10%;
    align-items: center;
}

.footerTexto>input {
    width: 80%;
}

.footerTexto>p {
    margin: 0;
    width: 20%;
}

.eventosPublicos {
    background-color: #79AC78;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    max-height: 363px;
}

.headerEventosPublicos {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.xIconEventoPublico {
    position: absolute;
    right: 45px;
}

.eventoPublico {
    margin-top: 10px;
}

.foros {
    background-color: #79AC78;
    margin: 10px;
}

.headerForos {
    display: flex;
    align-items: center;
}