*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    background-color: red;
    height: 10%;
    justify-content: center;
}
body > div:first-of-type{
    width: 0;
    height: 0;
    border-right: 300px solid transparent;
    border-top: 300px solid yellow;
}
main{
    width: 25%;
    height: 45%;
    background-color: blue;
    position: absolute;
    z-index: 3;
    top: 25vh;
    left: 75vh;
}
body > div:last-of-type{
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-bottom: 300px solid yellow;
}
footer{
    background-color: brown;
    height: 10%;
    position: relative;
    bottom: 0;
    width: 100%;
}